<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>image</key>
        <string>1f60a</string>
        <key>text</key>
        <string>[:愉快]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f60b</string>
        <key>text</key>
        <string>[:调皮]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f60c</string>
        <key>text</key>
        <string>[:傲娇]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f60d</string>
        <key>text</key>
        <string>[:色]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f60e</string>
        <key>text</key>
        <string>[:酷]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f60f</string>
        <key>text</key>
        <string>[:阴险]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f61a</string>
        <key>text</key>
        <string>[:亲吻]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f61b</string>
        <key>text</key>
        <string>[:吐舌]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f61c</string>
        <key>text</key>
        <string>[:鬼脸]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f61d</string>
        <key>text</key>
        <string>[:淘气]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f61e</string>
        <key>text</key>
        <string>[:难过]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f61f</string>
        <key>text</key>
        <string>[:囧]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f62a</string>
        <key>text</key>
        <string>[:叹气]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f62b</string>
        <key>text</key>
        <string>[:抓狂]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f62c</string>
        <key>text</key>
        <string>[:呵呵]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f62d</string>
        <key>text</key>
        <string>[:大哭]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f62e</string>
        <key>text</key>
        <string>[:惊讶]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f62f</string>
        <key>text</key>
        <string>[:诧异]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f600</string>
        <key>text</key>
        <string>[:哈哈]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f601</string>
        <key>text</key>
        <string>[:嘻嘻]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f602</string>
        <key>text</key>
        <string>[:笑哭]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f603</string>
        <key>text</key>
        <string>[:高兴]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f604</string>
        <key>text</key>
        <string>[:开心]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f605</string>
        <key>text</key>
        <string>[:汗]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f606</string>
        <key>text</key>
        <string>[:大笑]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f607</string>
        <key>text</key>
        <string>[:天使]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f608</string>
        <key>text</key>
        <string>[:恶魔]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f609</string>
        <key>text</key>
        <string>[:眨眼]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f610</string>
        <key>text</key>
        <string>[:抿嘴]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f611</string>
        <key>text</key>
        <string>[:无视]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f612</string>
        <key>text</key>
        <string>[:鄙视]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f613</string>
        <key>text</key>
        <string>[:无语]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f614</string>
        <key>text</key>
        <string>[:无奈]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f615</string>
        <key>text</key>
        <string>[:撅嘴]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f616</string>
        <key>text</key>
        <string>[:难受]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f617</string>
        <key>text</key>
        <string>[:亲]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f618</string>
        <key>text</key>
        <string>[:爱]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f619</string>
        <key>text</key>
        <string>[:亲亲]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f620</string>
        <key>text</key>
        <string>[:愤怒]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f621</string>
        <key>text</key>
        <string>[:狂怒]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f622</string>
        <key>text</key>
        <string>[:委屈]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f623</string>
        <key>text</key>
        <string>[:痛苦]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f624</string>
        <key>text</key>
        <string>[:怒气]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f625</string>
        <key>text</key>
        <string>[:心塞]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f626</string>
        <key>text</key>
        <string>[:不开心]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f627</string>
        <key>text</key>
        <string>[:郁闷]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f628</string>
        <key>text</key>
        <string>[:生病]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f629</string>
        <key>text</key>
        <string>[:伤心]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f630</string>
        <key>text</key>
        <string>[:重病]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f631</string>
        <key>text</key>
        <string>[:惊恐]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f632</string>
        <key>text</key>
        <string>[:晕]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f633</string>
        <key>text</key>
        <string>[:尴尬]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f634</string>
        <key>text</key>
        <string>[:睡觉]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f635</string>
        <key>text</key>
        <string>[:晕菜]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>1f636</string>
        <key>text</key>
        <string>[:萌]</string>
    </dict>
    <dict>
        <key>image</key>
        <string>263a</string>
        <key>text</key>
        <string>[:害羞]</string>
    </dict>
</array>
</plist>
